
<h1 class ="is-size-1 pt-6 columns is-mobile is-multiline is-centered">Career Connection Resource</h1>
    <p class ="is-size-6 is-italic columns is-mobile is-multiline is-centered mx-5">
        Information from University of Utah Full Stack Development Bootcamp. For more information refer to Bootcamp Spot Career Connection. 
    </p>

    <!-- career connection tips -->
    <div class="box columns is-mobile is-multiline is-centered ">
      <h2 class="is-size-3 py-6 has-text-left px-6 cards ">Tips</br> for </br>becoming </br>employable!</h2>
      <ul class="px-5 py-6 has-text-left box">
          <li>
              <a href="#update-your-resume">1. <span class="career-text">Update your Resume</span></a>
          </li>
          <li>
             <a href="#create-a-portfolio-website" >2. <span class="career-text">Create a Portfolio Website</span></a>
          </li>
          <li>
              <a href ="#create-a-linkedIn-site">3. <span class="career-text">Create a LinkedIn Site</span> </a>
          </li>
          <li>
              <a href="#review-algorithms">4. <span class="career-text"> Review Algorithms</span> </a>
          </li>
          <li>
              <a href ="#keep-learning">5. <span class="career-text">Keep Learning</span> </a>
          </li>
          <li>
             <a href ="#upcoming-career-events">6. <span class="career-text">Upcoming Career Events</span></a>
          </li>
      </ul>

</div>
<div class="box"> 
<div class ="columns is-mobile is-multiline is-centered pt-3">
    <a href="http://www.juju.com/job/..." onclick="juju_partner(this, '3364');" > 

        <span><a class ="career-text is-size-3 has-text-weight-bold mx-5" href="http://www.juju.com/" target="_blank">Ready to Apply?</a><a
            href="http://www.juju.com/" title="Job Search"></a></span>
    
        </div>  
    
<div class="columns is-mobile is-multiline is-centered pb-5">Search on your own or quick search below:</div>
<div class="is-flex is-flex-wrap-wrap is-justify-content-space-around columns is-mobile is-multiline is-centered">
<div class="columns is-mobile is-multiline is-centered">
    <ul>
        <li class="has-text-weight-bold is-size-5 px-1">Front End</li>
        <li><a class ="career-text px-1" href="http://www.juju.com/jobs?k=web+developer&l=&r=20" target="_blank"> Web Developer</a></li>
        <li><a class ="career-text px-1" href="http://www.juju.com/jobs?k=front+end+developer&l=&r=20" target="_blank">Front End Developer</a></li>
        <li><a class ="career-text px-1" href="http://www.juju.com/jobs?k=web+designer&l=&r=20" target ="_blank"> Web Designer</a></li>
    </ul>
</div>
<div class="columns is-mobile is-multiline is-centered">
    <ul>
        <li class="has-text-weight-bold is-size-5 px-1">Full Stack</li>
        <li><a class ="career-text px-1" href ="http://www.juju.com/jobs?k=software+engineer&l=&r=20" target="_blank">Software Engineer</a></li>
        <li><a class ="career-text px-1" href ="http://www.juju.com/jobs?k=full+stack+developer&l=&r=20" target ="_blank">Full Stack Developer</a></li>
        <li> <a class ="career-text px-1" href="http://www.juju.com/jobs?k=jr+web+developer&l=&r=20" target ="_blank"> Jr Web Developer</a></li>
    </ul>
</div>
<div class="columns is-mobile is-multiline is-centered">
    <ul>
        <li class="has-text-weight-bold is-size-5 px-1">Test Driven Data</li>
        <li><a class ="career-text px-1" href="http://www.juju.com/jobs?k=qa+tester&l=&r=20" target="_blank" >QA Tester</a></li>
        <li><a class ="career-text px-1" href="http://www.juju.com/jobs?k=qa+tester&l=&r=20" target="_blank" >QA Tester</a></li>
        <li> <a class ="career-text px-1" href="http://www.juju.com/jobs?k=quality+assurance&l=&r=20" target="_blank">Quality Assurance</a></li>
        <li><a class ="career-text px-1" href ="http://www.juju.com/jobs?k=qa+analyst&l=&r=20" target="_blank"> QA Analyst</a></li>
        <li><a class ="career-text px-1" href="http://www.juju.com/jobs?k=testing+qa+developer&l=&r=20" target="_blank"> Testing QA Developer</a> </li>
    </ul>
</div>
<div class="columns is-mobile is-multiline is-centered pb-2">
    <ul>
        <li class="has-text-weight-bold is-size-5 px-1">Technologies</li>
        <li><a class ="career-text px-1" href ="http://www.juju.com/jobs?k=html&l=&r=20" target="_blank">HTML</a></li>
        <li><a class ="career-text px-1" href ="http://www.juju.com/jobs?k=css&l=&r=20" target="_blank">CSS</a></li>
        <li><a class ="career-text px-1" href="http://www.juju.com/jobs?k=javascript&l=&r=20" target="_blank"> Javascript</a></li>
        <li><a class ="career-text px-1" href="http://www.juju.com/jobs?k=git&l=&r=20" target="_blank"> Git</a></li>
        <li> <a class ="career-text px-1" href="http://www.juju.com/jobs?k=jquery&l=&r=20" target="_blank">jQuery</a></li>
        <li><a  class ="career-text px-1" href="http://www.juju.com/jobs?k=node.js&l=&r=20" target="_blank">Node.js</a></li>
    </ul>
</div>
</div>
</div>


<div class="py-6 box">
    <h3 id ="update-your-resume" class ="career-text is-size-3 px-4 ">Update your Resume</h3>
    <p class="px-6 is-size-6 has-text-weight-bold">Create a resume that effectivley demonstrates your full stack development skills</p>
    <ol class="px-6">
        <li>
            Include name, phone number, and professional email address
        </li>
        <li>
            Provide written-out hyperlink to LinkedIn, GitHub, and your porfolio
        </li>
        <li>
            Include Technical Skills section
        </li>
        <li>
            Provide a brief description of 3 of your strongest projects
        </li>
        <li>
            Show off your professional experience
        </li>
        <li>
           Have your bootcamp listed as most recent education
        </li>
        <li>
            Don't be afraid to use spell check
        </li>
        <li>
            Submit resume to your Profile Coach 
        </li>
    </ol>

</div>

<div class="py-6 box">
<h3 id="create-a-portfolio-website" class ="career-text is-size-3 px-4">Create a Portfolio Website</h3>
<p class="px-6 has-text-weight-bold">Use these resources to develop an eye catching portfolio to show off your web development skills! 
<p class="px-6">Link a PDF of your resume to your portfolio </br>
    Add some jQuery or Javascript to demonstrate your knowledge.
    </p>
</p>
<ul class="px-6">
    <li>
        <a class ="career-text" href=" https://bestfolios.medium.com/10-fantastic-portfolio-websites-from-silicon-valley-design-leads-2d84b384dba6" target="_blank"> Best Portfolios</a>
    </li>
    <li>
       <a class ="career-text" href=" https://onepagelove.com/inspiration/portfolio" target="_blank"> Onepagelove</a>
    </li>
    <li>
      <a class ="career-text" href="https://codeburst.io/10-awesome-web-developer-portfolios-d266b32e6154" target="_blank" > codeburst</a>
    </li>
</ul>
<p class="px-6">Don't forget to add custom styling!</p>
<ul class="px-6">
    <li>
        <a class ="career-text" href="https://dribbble.com/" target="_blank">Dribble</a>
    </li>
    <li>
        <a class ="career-text" href =" https://flatuicolors.com/" target="_blank">Flatuicolors</a>
    </li>
    <li>
        <a class ="career-text" href ="https://onepagelove.com/" target="_blank">Onepagelove</a>
    </li>
</ul>
</div>


<div class="py-6 box">
    <h3 id="create-a-linkedIn-site" class ="career-text is-size-3 px-5">Create a LinkedIn Site</h3>
    <p class="px-6 has-text-weight-bold">
        <a class= "career-text" href="https://www.linkedin.com/" target="_blank">LinkedIn</a> is a great way to get noticed take full advantage!
    </p>
    <ol class="px-6">
        <li>
            Add "full-stack web developer" to your profile.
        </li>
        <li>
            Frequently connect with people and companies that you are interested in.
        </li>
        <li>
            Send a quick message: <span class="is-italic">"Good afternoon, [employee name]. My name is [your name]. I’m reaching out because I live in the area and I’m a new web developer looking to network with professionals in the field, like you. I'm particularly interested in working for [company name] because [add reasons why you'd like to work here], and I was wondering if you could tell me what you love about working there. Thanks for connecting with me!"</span>
        </li>
        <li>
            Add your GitHub.
        </li>
        <li>
            Add class projects!
        </li>
        <li>
            Add technical skills: HTML, CSS, Javascript, jQuery, AJAX, Node.js, SQL, ect.
        </li>
    </ol>
</div>

<div class="py-6 box">
    <h3 id ="review-algorithms" class ="career-text is-size-3 px-5">Review Algorithms</h3>
    <p class="px-6 has-text-weight-bold">Algorithms are a crucial component of any technical coding interview   </br>
    Practice on these sites:
    </p>
    <ul class="px-6">
        <li>
            <a class ="career-text" href =" https://www.hackerrank.com/interview/interview-preparation-kit" target="_blank">Hackerrank</a>
        </li>
        <li>
            <a class ="career-text" href ="https://www.codewars.com/dashboard" target="_blank">Codewars</a>
        </li>
        <li>
            <a class ="career-text" href ="https://www.w3schools.com/js/" target="_blank">W3 Schools</a>
        </li>
    </ul>
    <p class="px-6 py-2 has-text-weight-bold">Practice interview style IDE complete the following algorithm challenge </br>
    Each CodeSignal Algorithms as a 7-day time limit:</p>
    <ul class="px-6">
        <li>
            <a class ="career-text" href ="https://app.codesignal.com/public-test/qL7KK4o6KBSgmdqBw/rDz464zXxdE6dx" target ="_blank">Reverse Sentence</a>
        </li>
        <li>
            <a class ="career-text" href ="https://app.codesignal.com/public-test/KXE5b7L3CPKSdYkzh/35X8aLqz9hNStg" target ="_blank">Array Median</a>
        </li>
        <li>
            <a class ="career-text" href = "https://app.codesignal.com/public-test/7wsdGsoYtdM8narY9/j2q8xRbzqXKT8k" target="_blank">Next Prime</a>
        </li>
        <li>
            <a class ="career-text" href ="https://app.codesignal.com/public-test/ThqFTjkqwzQrcoqKB/AhsPkH8G6H8qqi" target ="_blank">Add One</a>
        </li>
        <li>
            <a class ="career-text" href =" https://app.codesignal.com/public-test/Az2qBBpbLLktvi6MR/6KJ2ebjXrCiSPo" target = "_blank">Camel Case Separation</a>
        </li>
        <li>
            <a class ="career-text" href ="https://app.codesignal.com/public-test/zE2ktiq86xwEnMov2/bY2xgpYL4NGKoE" target ="_blank">Check Palindrome</a>
        </li>
    </ul>

</div>
    <div class="py-6 box">
        <h3 id="keep-learning" class ="career-text is-size-3 px-5">Keep Learning </h3>
        <p class="px-6 has-text-weight-bold">Learn about other technologies:</p>
        <ul class="px-6">
            <li>
                Java
            </li>
            <li>
                Python
            </li>
            <li>
                C#
            </li>
            <li>
                AWS
            </li>
        </ul>
        
    
    </div>

</div>

<div id="upcoming-career-events">
    <a class ="career-text px-5  is-size-4" href="https://careernetwork.2u.com/?utm_medium=Academics&utm_source=boot_camp" target ="_blank">Upcoming career events!</a>
</div>
<div class="px-5">
    <p>
        For more details visit your canvas Career Connection page in each module.
    </p>
</div>
<br>




<!-- <a href="http://www.juju.com/job/..." onclick="juju_partner(this, '3364');" > 

    <span><a href="http://www.juju.com/" target="_blank">Search Here</a> by <a
        href="http://www.juju.com/" title="Job Search"><img width="85"
        src="http://d5k1a84rm5hwo.cloudfront.net/img/juju_logo_publisherspec.png" style="border: 0;
        vertical-align: middle;" alt="Juju.com"></a></span> -->

