
<h1 class ="is-size-2 columns is-mobile is-multiline is-centered">Career Connection Resource</h1>
    <p class ="is-size-7 columns is-mobile is-multiline is-centered">
        Information from University of Utah Full Stack Development Bootcamp. For more information refer to Bootcamp Spot Career Connection. 
    </p>

    <!-- career connection tips -->
    <div>
      <h2 class="is-size-4 columns is-mobile is-multiline is-centered pt-5">Tips for becoming employable!</h2>
      <ul class="px-5 pb-6 has-text-centered">
          <li>
              <a href="#update-your-resume"><span class="has-text-primary-dark">1.</span> Update your Resume</a>
          </li>
          <li>
             <a href="#create-a-portfolio-website" ><span class="has-text-primary-dark">2.</span>  Create a Portfolio Website</a>
          </li>
          <li>
              <a href ="#create-a-linkedIn-site"><span class="has-text-primary-dark">3.</span> Create a linkedIn Site</a>
          </li>
          <li>
             <a href="#update-your-technical-skills" ><span class="has-text-primary-dark">4.</span>  Update your technical skills section></a>
          </li>
          <li>
              <a href="#review-algorithms"><span class="has-text-primary-dark">5.</span>  Review Algorithms</a>
          </li>
          <li>
              <a href ="#keep-learning"><span class="has-text-primary-dark">6.</span> Keep Learning</a>
          </li>
          <li>
             <a href ="#upcoming-career-events"> <span class="has-text-primary-dark">7.</span>  Upcoming Career Events</a>
          </li>
      </ul>

</div>
<div class ="columns is-mobile is-multiline is-centered pt-5">
    <a href="http://www.juju.com/job/..." onclick="juju_partner(this, '3364');" > 

        <span><a class ="has-text-primary-dark" href="http://www.juju.com/" target="_blank">Ready to Apply</a><a
            href="http://www.juju.com/" title="Job Search"></a></span>
    
        </div>  
    
<div class="columns is-mobile is-multiline is-centered">Search your own or quick search below:</div>
<table class = "box has-text-primary columns is-mobile is-multiline is-centered ">
    <tr class ="is-size-6" >
        <th>Front End</th>
        <th>Full Stack</th>
        <th class="pr-5">Test Driven Data</th>
        <th>Technologies</th>
    </tr>
    <tr class="is-size-7">
        <td>
           <a class ="has-text-primary-dark" href="http://www.juju.com/jobs?k=web+developer&l=&r=20" target="_blank"> Web Developer</a>
        </td>
        <td>
            <a class ="has-text-primary-dark" href ="http://www.juju.com/jobs?k=software+engineer&l=&r=20" target="_blank">Software Engineer</a>
        </td>
        <td>
            <a class ="has-text-primary-dark" href="http://www.juju.com/jobs?k=qa+tester&l=&r=20" target="_blank" >QA Tester</a>
        </td>
        <td>
            <a class ="has-text-primary-dark" href ="http://www.juju.com/jobs?k=html&l=&r=20" target="_blank">HTML</a>
        </td>
    </tr>
    <tr class="is-size-7">
        <td class ="pr-4">
           <a class ="has-text-primary-dark" href="http://www.juju.com/jobs?k=front+end+developer&l=&r=20" target="_blank">Front End Developer</a>
        </td>
        <td class ="pr-4">
            <a class ="has-text-primary-dark" href ="http://www.juju.com/jobs?k=full+stack+developer&l=&r=20" target ="_blank">Full Stack Developer</a>
        </td>
        <td>
            <a class ="has-text-primary-dark" href="http://www.juju.com/jobs?k=quality+assurance&l=&r=20" target="_blank">Quality Assurance</a>
        </td>
        <td>
            <a class ="has-text-primary-dark" href ="http://www.juju.com/jobs?k=css&l=&r=20" target="_blank">CSS</a>
        </td>
    </tr>
    <tr class="is-size-7">
        <td>
           <a class ="has-text-primary-dark" href="http://www.juju.com/jobs?k=web+designer&l=&r=20" target ="_blank"> Web Designer</a>
        </td>
        <td>
           <a class ="has-text-primary-dark" href="http://www.juju.com/jobs?k=jr+web+developer&l=&r=20" target ="_blank"> Jr Web Developer</a>
        </td>
        <td>
           <a class ="has-text-primary-dark" href ="http://www.juju.com/jobs?k=qa+analyst&l=&r=20" target="_blank"> QA Analyst</a>
        </td>
        <td>
           <a class ="has-text-primary-dark" href="http://www.juju.com/jobs?k=javascript&l=&r=20" target="_blank"> Javascript</a>
        </td>
    </tr>

    <tr class="is-size-7">
        <td> </td>
        <td> </td>
        <td class ="pr-1"> 
           <a class ="has-text-primary-dark" href="http://www.juju.com/jobs?k=testing+qa+developer&l=&r=20" target="_blank"> Testing QA Developer</a> 
        </td>
        <td>
            <a class ="has-text-primary-dark" href="http://www.juju.com/jobs?k=git&l=&r=20" target="_blank"> Git</a>
        </td>
    </tr>
    <tr class="is-size-7">
        <td> </td>
        <td> </td>
        <td> </td>
        <td>
            <a class ="has-text-primary-dark" href="http://www.juju.com/jobs?k=jquery&l=&r=20" target="_blank">jQuery</a>
        </td>
    </tr>
    <tr class="is-size-7">
        <td> </td>
        <td> </td>
        <td> </td>
        <td>
            <a  class ="has-text-primary-dark" href="http://www.juju.com/jobs?k=node.js&l=&r=20" target="_blank">Node.js</a>
        </td>
    </tr>
</table>

</div>

<div class="py-6 box">
    <h3 id ="update-your-resume" class ="has-text-primary-dark">Update your Resume</h3>
    <p>Create a resume that effectivley demonstrates your full stack development skills</p>
    <ul>
        <li>
            Include name, phone number, professional email address
        </li>
        <li>
            Written-out hyperlink to LinkedIn, GitHub, and your porfolio
        </li>
        <li>
            Technical skills section
        </li>
        <li>
            Brief description of 3 of your strongest projects
        </li>
        <li>
            Professional experience
        </li>
        <li>
            Bootcamp listed as most recent education
        </li>
        <li>
            Spell check
        </li>
        <li>
            Submit resume to your Profile Coach 
        </li>
    </ul>

</div>

<div class="py-6 box">
<h3 id="create-a-portfolio-website" class ="has-text-primary-dark">Create a Portfolio Website</h3>
<p>Use these resources to develop a eye catching portfolio to show off your web development skills! </br>
    Remember to link a PDF of your resume to your portfolio </br>
    Add some jQuery or Javascript to your portfolio to demonstrate your knowledge.


</p>
<ul>
    <li>
        <a class ="has-text-primary-dark" href=" https://bestfolios.medium.com/10-fantastic-portfolio-websites-from-silicon-valley-design-leads-2d84b384dba6" target="_blank"> Best Portfolios</a>
    </li>
    <li>
       <a class ="has-text-primary-dark" href=" https://onepagelove.com/inspiration/portfolio" target="_blank"> Onepagelove</a>
    </li>
    <li>
      <a class ="has-text-primary-dark" href="https://codeburst.io/10-awesome-web-developer-portfolios-d266b32e6154" target="_blank" > codeburst</a>
    </li>
</ul>
<p>Remember to add custom styling!</p>
<ul>
    <li>
        <a class ="has-text-primary-dark" href="https://dribbble.com/" target="_blank">Dribble</a>
    </li>
    <li>
        <a class ="has-text-primary-dark" href =" https://flatuicolors.com/" target="_blank">Flatuicolors</a>
    </li>
    <li>
        <a class ="has-text-primary-dark" href ="https://onepagelove.com/" target="_blank">Onepagelove</a>
    </li>
</ul>
</div>


<div class="py-6">
    <h3 id="create-a-linkedIn-site" class ="has-text-primary-dark">Create a linkedIn Site</h3>
    <p>
        linkedIn is a great way to get noticed take full advantage!
    </p>
    <ul>
        <li>
            Add "full-stack web developer" to your profile.
        </li>
        <li>
            Frequently connect with people and companies that you are interested in.
        </li>
        <li>
            Send a quick message: Good afternoon, [employee name]. My name is [your name]. I’m reaching out because I live in the area and I’m a new web developer looking to network with professionals in the field, like you. I'm particularly interested in working for [company name] because [add reasons why you'd like to work here], and I was wondering if you could tell me what you love about working there. Thanks for connecting with me!
        </li>
        <li>
            Add your GitHub 
        </li>
        <li>
            Add class projects!
        </li>
        <li>
            Add technical skills: HTML, CSS, Javascript, jQuery, AJAX, Node.js, SQL
        </li>
    </ul>
</div>

<div class="py-6">
    <h3 id ="review-algorithms" class ="has-text-primary-dark">Review Algorithms</h3>
    <p>Algorithms fjfjfjjfj  </br>
    practice on these sites
    </p>
    <ul>
        <li>
            <a class ="has-text-primary-dark" href =" https://www.hackerrank.com/interview/interview-preparation-kit" target="_blank">Hackerrank</a>
        </li>
        <li>
            <a class ="has-text-primary-dark" href ="https://www.codewars.com/dashboard" target="_blank">Codewars</a>
        </li>
        <li>
            <a class ="has-text-primary-dark" href ="https://www.w3schools.com/js/" target="_blank">W3 Schools</a>
        </li>
    </ul>
    <p>Practice interview style IDE complete the following algorithem challenge </br>
    Each CodeSignal Algorithms as a 7-day time limit.</p>
    <ul>
        <li>
            <a class ="has-text-primary-dark" href ="https://app.codesignal.com/public-test/qL7KK4o6KBSgmdqBw/rDz464zXxdE6dx" target ="_blank">Reverse Sentence</a>
        </li>
        <li>
            <a class ="has-text-primary-dark" href ="https://app.codesignal.com/public-test/KXE5b7L3CPKSdYkzh/35X8aLqz9hNStg" target ="_blank">Array Median</a>
        </li>
        <li>
            <a class ="has-text-primary-dark" href = "https://app.codesignal.com/public-test/7wsdGsoYtdM8narY9/j2q8xRbzqXKT8k" target="_blank">Next Prime</a>
        </li>
        <li>
            <a class ="has-text-primary-dark" href ="https://app.codesignal.com/public-test/ThqFTjkqwzQrcoqKB/AhsPkH8G6H8qqi" target ="_blank">Add One</a>
        </li>
        <li>
            <a class ="has-text-primary-dark" href =" https://app.codesignal.com/public-test/Az2qBBpbLLktvi6MR/6KJ2ebjXrCiSPo" target = "_blank">Camel Case Separation</a>
        </li>
        <li>
            <a class ="has-text-primary-dark" href ="https://app.codesignal.com/public-test/zE2ktiq86xwEnMov2/bY2xgpYL4NGKoE" target ="_blank">Check Palindrome</a>
        </li>
    </ul>


    <div class="py-6">
        <h3 id="keep-learning" class ="has-text-primary-dark">Keep Learning </h3>
        <p>Learn about other technologies</p>
        <ul>
            <li>
                Java
            </li>
            <li>
                Python
            </li>
            <li>
                C#
            </li>
            <li>
                AWS
            </li>
        </ul>
        
    
    </div>

</div>

<div id="upcoming-career-events">
    <a class ="has-text-primary-dark" href="https://careernetwork.2u.com/?utm_medium=Academics&utm_source=boot_camp" target ="_blank">Upcoming career events!</a>
</div>
<div>
    <p>
        For more details visit your canvas page Career Connection in each module.
    </p>
</div>




<!-- <a href="http://www.juju.com/job/..." onclick="juju_partner(this, '3364');" > 

    <span><a href="http://www.juju.com/" target="_blank">Search Here</a> by <a
        href="http://www.juju.com/" title="Job Search"><img width="85"
        src="http://d5k1a84rm5hwo.cloudfront.net/img/juju_logo_publisherspec.png" style="border: 0;
        vertical-align: middle;" alt="Juju.com"></a></span> -->

