<section>
    <h2>Have something to share?</h2>

    <form class="new-question-form">
        <div>
            <label for="question-title">Title</label>
            <input type="text" id="question-title" name="question-title" />
        </div>
        {{!-- THIS IS THE ADD YOUR OWN QUESTION SECTION INSTEAD OF CLICKING ON A LINK IT WOULD PROBABLY BE EASIER TO JUST HAVE THE INPUT FIELDS SHOWING ALREADY IN THAT COL --}}
        <div>
            <label for="question-url">Content</label>
            <input id="question-url" name="question-url" />
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}


<h2>View Most Recent Interview Questions</h2>
{{#if loggedIn}}
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post}}
  </li>
  {{/each}}
</ol>
{{/if}}






<script src="/javascript/add-question.js"></script>