{{#if loggedIn}}
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
   {{> post-info post}}
  </li>
  {{/each}}
</ol>
{{else}}
<div class="welcome">
 Welcome
</div>
<p class ="app-info">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus est animi recusandae eaque reiciendis aut iste, culpa sint blanditiis! Laboriosam, hic. Consequuntur aut sit alias eos molestias delectus asperiores ratione!
</p>
{{/if}}