<main class="columns">
    <div class="column">
        <header class="content-titles">
            <h2>
                Welcome to Code Prep!
            </h2>
        </header>
        <div class="content">
            <h4>
                Code prep is a collaborative platform for you to for you to practice your coding skills. These can be
                interview questions, algorithms, or other fun challenges.
            </h4>
        </div>
    </div>

{{#if loggedIn}}
<div class="column ">
    <h2>View Most Recent Interview Questions</h2>
<ol class="post-list">
    {{#each posts as |post|}}
    <li>
    {{> post-info post}}
    </li>
    {{/each}}
</ol>
</div>

{{else}}

    <div class="column content" id="rightside"> 
        <form class="login-form column ">
            <div>
                <h2>Login</h2>
                <div>
                    <label for="email-login">Email:</label>
                    <input type="text" id="email-login" />
                </div>
                <div>
                    <label for="password-login">Password:</label>
                    <input type="password" id="password-login" />
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>
            </div>
        </form>

        <form class="signup-form column ">
            <div>
                <h2>Sign Up</h2>
                <div>
                    <label for="username-signup">UserName:</label>
                    <input type="text" id="username-signup" />
                </div>
                <div>
                    <label for="email-signup">Email:</label>
                    <input type="text" id="email-signup" />
                </div>
                <div>
                    <label for="password-signup">Password:</label>
                    <input type="password" id="password-signup" />
                </div>
                <div>
                    <button type="submit">Sign Up</button>
                </div>
            </div>
            
        </form>
    </div>
</main>

<script src ="/javascript/login.js"></script>

{{/if}}


{{!-- <div class="welcome">
 Welcome
</div>
<p class ="app-info">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus est animi recusandae eaque reiciendis aut iste, culpa sint blanditiis! Laboriosam, hic. Consequuntur aut sit alias eos molestias delectus asperiores ratione!
</p>


<form class="login-form">
    <div>
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" />
    </div>
    <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

<form class="signup-form">
    <div>
        <label for="username-signup">UserName:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="email-signup">Email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
</form> --}}


