<main class="columns">
    <div class="column">
        <form class="left-form">
            <div class="content">
                <h2 class="animation-welcome">
                    Welcome to Code Prep!
                </h2>
            </div>
            <div class="content">
                <h5 class="animation-info">
                    Code prep is a collaborative platform for you to for you to practice your coding skills. These can
                    be
                    interview questions, algorithms, or other fun challenges.
                </h5>
            </div>
        </form>
    </div>
    

    {{#if loggedIn}}
    <div class="column tall">
        <h2>View Most Recent Interview Questions:</h2>
        <ol class="post-list px-5">
            {{#each posts as |post|}}
            <li>
                {{> post-info post}}
            </li>
            {{/each}}
        </ol>
    </div>

    {{else}}

    <div class="column content tall" id="rightside">
        <form class="login-form column right-form">
            <div>
                <h2>Login</h2>
                <div>
                    <label for="email-login">Email:</label>
                    <input type="text" id="email-login" />
                </div>
                <div>
                    <label for="password-login">Password:</label>
                    <input type="password" id="password-login" />
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>
            </div>
        </form>

        <form class="signup-form column right-form">
            <div>
                <h2>Sign Up</h2>
                <div>
                    <label for="username-signup">UserName:</label>
                    <input type="text" id="username-signup" />
                </div>
                <div>
                    <label for="email-signup">Email:</label>
                    <input type="text" id="email-signup" />
                </div>
                <div>
                    <label for="password-signup">Password:</label>
                    <input type="password" id="password-signup" />
                </div>
                <div>
                    <button type="submit">Sign Up</button>
                </div>
            </div>

        </form>
    </div>
</main>

<script src="/javascript/login.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src ="/javascript/animation.js"></script>

{{/if}}
