{{> post-info post}}

{{#if loggedIn}}
    {{!-- TO BE THE LEFT COL THAT WILL DISPLAY QUESTION TITLE AND THE QUESTION ITS SELF --}}
    
{{/if}}


{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
        <button type="button" class="like-btn">like</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/like.js"></script>
{{/if}}