* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* HEADER AND NAV BAR SECTION */
header {
    align-items: baseline;
    background-color: gray;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    background-size: cover;
}

h1 {
    padding: 2%;
    font-size: 36px;
    color: var(--darkreader-text--primary-color);
    text-shadow: rgb(0 0 0 / 50%) 0px 0px 10px;
    display: block;
    font-weight: bold;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

li {
    padding: 0 20px ;
}
/* HEADER AND NAV BAR SECTION */


/* LEFT COLUMN SECTION HOMEPAGE */
.content-titles {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
    background-color: green;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: blue;
}

h2 {
    border: black;
    background-color:darkslategray;
    padding: 2%;
}
h4{
    width: 70%;
}



.column {
    margin: 5%;
}

/* LEFT COLUMN SECTION HOMEPAGE */