* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* HEADER AND NAV BAR SECTION */
header {
    align-items: baseline;
    background-color: gray;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    background-size: cover;
}

a {
    color: black;
}
h1 {
    padding: 2%;
    font-size: 36px;
    color: var(--darkreader-text--primary-color);
    text-shadow: rgb(0 0 0 / 50%) 0px 0px 10px;
    display: block;
    font-weight: bold;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

li {
    padding: 0 20px ;
}
/* HEADER AND NAV BAR SECTION */


/* LEFT COLUMN SECTION HOMEPAGE */
.content-titles {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
    background-color: green;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: black;
}

h2 {
    padding: 2%;
    color: black;
}

h5{
    width: 80%;
}

.content h5 {
    text-align: left;
}

.column {
    margin: 5%;
}

.left-form {

    border: 5px black ;
    border-radius: 0%;
    padding: 2%;
    background-color: wheat;
    border: solid 3px var(--secondary-color);
    padding: 20px;
    color: var(--secondary-color);
    
    margin: 3.5%;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    border-radius: 15px;

}

/* LEFT COLUMN SECTION HOMEPAGE */


/* RIGHT COLUMN SECTION HOMEPAGE */
.right-form {
    border: 5px black ;
    border-radius: 0%;
    padding: 2%;
    background-color: wheat;
    border: solid 3px var(--secondary-color);
    padding: 20px;
    color: var(--secondary-color);
    width: 60%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    border-radius: 15px;
}

#rightside {
    align-items: flex-start;
    text-align: left;
}

.login-form .signup-form {
    
}


/* RIGHT COLUMN SECTION HOMEPAGE */

/* MIN WIDTH HAS TO BE 400PX */