* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* HEADER AND NAV BAR SECTION */
header {
    align-items: baseline;
    background-image: url('../stylesheets/images/header1.PNG');
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    background-size: cover;
}

header a {
    color: white;
}
a {
    color: black;
    
}

a:hover {
    color: rgb(11, 108, 108);
}
h1 {
    padding: 2%;
    font-size: 36px;
    text-shadow: rgb(0 0 0 / 50%) 0px 0px 10px;
    display: block;
    font-weight: bold;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

li {
    padding: 0 20px ;
}
/* HEADER AND NAV BAR SECTION */


/* LEFT COLUMN SECTION HOMEPAGE */
.content-titles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: black;
}

h2 {
    padding: 2%;
    color: black;
}

h5{
    width: 80%;
}

.content h5 {
    text-align: left;
}

.column {
    margin: 5%;
}

/* LEFT COLUMN SECTION HOMEPAGE */



/* RIGHT COLUMN SECTION HOMEPAGE */
#rightside {
    align-items: flex-start;
    text-align: left;
}


button {
    color: white;
    background-color: lightseagreen;
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor:pointer;
}
button:hover {
    background-color:rgb(11, 108, 108);
}

/* RIGHT COLUMN SECTION HOMEPAGE */


form {
    background-color: lightgray;
    border: solid 3px lightseagreen;
    padding: 20px;
    color: rgb(11, 108, 108);
    width: 100%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    border-radius: 15px;
}




/* DASHBOARD */
.cards {
    background-color: lightgray;
    border: solid 3px lightseagreen;
    color: rgb(11, 108, 108);
    margin: 3.5%;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    border-radius: 15px;
}

.posts {
    padding: 5%;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

/* DASHBOARD */
.title {
    font-size: 18px;
    width: 80%;
    /* border: 2px solid salmon; */
}


.title h3{
    font-size: 18px;
    font-weight: bold;
}

p {
    font-size: 16px;
}

.meta {
    font-size: 12px;
    color: rgb(11, 108, 108);
}

.cards li {
    margin: 5px;
}
.title-content {
    color: rgb(11, 108, 108);   
}

.button {
    max-height: 24px;
    margin-bottom: 10px;
    border-color: rgb(11, 108, 108);
}

.button:hover{
    background-color: rgb(11, 108, 108);
    color: white;
}

.cards h2 {
    font-size: 24px;
    font-weight: bolder;
}


/* CAREER HANDLEBARS STYLE */
.career-title {
    color:rgb(11, 108, 108);
}
.career-text {
    color: rgb(11, 108, 108);
}
.career-text:hover {
    color: black;
}

.tall {
    min-height: 100vh;
}

.text-area{
    overflow-wrap: normal;
    width: 100%;
    min-height: 50px;
    border: 1px solid rgb(226, 226, 226);
    padding: 10px;
    border-radius: 5px;
}

.text-area:hover{
    border: 1px solid rgb(155, 155, 155);
}



/* EDIT POST HANDLEBARS STYLE */

.comments-posts {
    border: solid lightgray 3px;
}


article h2 {
    font-size: 24px;
    font-weight: bolder;
}
.edit-post-hb {
    width: 50%;
}

article form div {
    margin: 20px;
}

article input {
    margin-bottom: 20px;
}

.comment-form {
    margin-bottom: 20px;
}
#comment-body{
    min-width: 100%;
}

.text-center{
    text-align: center;
}

/* EDIT POST HANDLEBARS STYLE */

/* MIN WIDTH HAS TO BE 400PX */


/* QUESTIONS HBS */
.question-hbs {
    width: 50%;
}

.title-comment-post {
    margin: 4%;
}
/* QUESTIONS HBS */



@media screen and (max-width: 520px) {
    .content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-bottom: black;
    }
  }