* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: baseline;
    justify-content: right;
    padding-top: 5%;
    background-color: gray;
    width: 100%;
}

h2 {
    margin: 0 5%;
}

.main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
    background-color: green;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: blue;
    
}

h4{
    width: 70%;
}